@using MyAutoPartsStore.Models.ServiceModels.Orders
@using MyAutoPartsStore.Services.OrderServices

@inject IOrderService Orders

@model IList<BasicOrderInformation>

@{
	ViewBag.Title = "New Orders";
}

<div class="card text-center">
	@foreach (var order in Model)
	{
	<div class="list-group-item">
		<a class="text-center" style="font-size: x-large" asp-controller="Order" asp-action="OrderDetails" asp-route-orderId="@order.OrderId">Details</a>
		<p class="text-center" style="font-size: medium"><b>Ordered from - </b><b style="color:crimson">@order.OrderUserEmail</b></p>
		<p class="text-center" style="font-size: medium"><b>Ordered on - </b><b style="color:crimson">@order.OrderOrderedOn</b></p>
	</div>
	}
</div>