@{
	ViewData["Title"] = "Home";
}

<div class="text-center">
	<h1>Welcome</h1>
</div>
<div class="flex flex-row">
	<div class="left">top </div>
	<div class="right">si </div>
	<div class="right">bero </div>
</div>
